# Exclude all file with extension .log
*.log

# Exclude all directory tmp/
tmp/

# Exclude all build's output directory
/dist

# Exclude conf file of IDE or editor
.idea/
*.sublime-workspace

# Exclude virtualenv python file
venv/
*.pyc